.bottom h2 {
    padding-bottom: 12px;
}
.about-content{
    font-family: var(--font2);
}
.about-main-content{
    text-align: center;
}
.about-main-content h3{
    padding-bottom: 10px;
}
.social-top{
    margin-top: 76vh;
}